name: Build and Push Docker Image

on: pull_request

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Build with Maven
        run: mvn clean install

      - name: Build Docker image
        run: docker build -t vpereira007/whatsapp-chatbot-transcribe:v1.0.2 .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Log in to Docker Hub
#        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker image
        run: docker push vpereira007/whatsapp-chatbot-transcribe:v1.0.2

      - name: Clean up Docker images
        run: docker rmi vpereira007/whatsapp-chatbot-transcribe:v1.0.2
